<nav>
    <h2>陈青的博客</h2>
    <div>
        <p>我的技能</p>
        <p>我的作品</p>
        <p>我的博客</p>
    </div>
    <ul>
        <li><a href="/">博客</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/blogs/create">创建博客</a></li>
    </ul>
</nav>