<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="blogs content">
                <h2>
                    <%= title %>
                </h2>
                <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed reiciendis unde facilis sit fugit
                    officiis
                    similique magni quis iusto nam ullam aut laborum perspiciatis placeat praesentium cum consequuntur,
                    sequi
                    nostrum!</h2>
            </div>
            <%- include("./partials/foot.ejs") %>
    </body>

</html>